.top-content {
  background-color: rgb(240, 240, 240);
  padding: 40px 0px;
}
.top-content h2 {
  margin: 0px;
  font-size: 2.2rem;
}
.top-content p {
  width: 50%;
  margin: 20px auto;
}
.btn-regular {
  background-color: rgb(209, 83, 83);
  color: white;
  font-weight: 700;
  font-size: 17px;
  border: 2px solid rgb(182, 182, 182);
  padding: 10px 30px;
  border-radius: 10px;
}
.blogs {
  padding: 50px 0px;
}
.post-area {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
